src/partial_solution_lab_2.py
src/test.py
__pycache__/
*.py[cod]
documentation/index.htm
src/_last_test_run.txt
documentation/ProyectoBinaryAndRedBackTree.txt
*.png
src/RedBlackTree_start.py
Antonio_Urbano_Murillo_Proyecto/
Antonio_Urbano_Murillo_Proyecto.zip